In [27]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import ticker
import seaborn as sns
import os
import numpy as np
from sklearn import datasets

In [28]:
#Retrieving stored dataframe 
%store -r df_dummies
df_dummies

,Relative Compactness,Surface Area,Wall Area,Roof Area,Overall Height,Glazing Area,Heating Load,Orientation of 3,Orientation of 4,Orientation of 5,Glazing Area Distribution of 1,Glazing Area Distribution of 2,Glazing Area Distribution of 3,Glazing Area Distribution of 4,Glazing Area Distribution of 5
0,0.98,514.5,294.0,110.25,7.0,0.0,15.55,0,0,0,0,0,0,0,0
1,0.98,514.5,294.0,110.25,7.0,0.0,15.55,1,0,0,0,0,0,0,0
2,0.98,514.5,294.0,110.25,7.0,0.0,15.55,0,1,0,0,0,0,0,0
3,0.98,514.5,294.0,110.25,7.0,0.0,15.55,0,0,1,0,0,0,0,0
4,0.90,563.5,318.5,122.50,7.0,0.0,20.84,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,0.64,784.0,343.0,220.50,3.5,0.4,17.88,0,0,1,0,0,0,0,1
764,0.62,808.5,367.5,220.50,3.5,0.4,16.54,0,0,0,0,0,0,0,1
765,0.62,808.5,367.5,220.50,3.5,0.4,16.44,1,0,0,0,0,0,0,1
766,0.62,808.5,367.5,220.50,3.5,0.4,16.48,0,1,0,0,0,0,0,1
767,0.62,808.5,367.5,220.50,3.5,0.4,16.64,0,0,1,0,0,0,0,1

In [35]:
from sklearn.feature_selection import chi2 #categorical and continuous data

#Selecting all columns with discrete data
discrete_vars = df_dummies.select_dtypes(include = "int")
discrete_vars
#Discretizing y variable for chi2 test
y = df_dummies['Heating Load'].astype(int)

discrete_vars.head()

,Orientation of 3,Orientation of 4,Orientation of 5,Glazing Area Distribution of 1,Glazing Area Distribution of 2,Glazing Area Distribution of 3,Glazing Area Distribution of 4,Glazing Area Distribution of 5
0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0

We are observing how the X variable columns with discrete values (that act as categorical variables) correlate to our target variable (Heating Load). This table shows our dummy encoded variable columns (for Orientation and Glazing Area Distribution).

In [38]:
chi = chi2(discrete_vars, y)
chi

(array([11.7140531 ,  8.71391864,  7.62687059, 29.77837921, 21.71365983,
        34.91779404, 19.68589057, 21.18022182]),
 array([0.9999579 , 0.99999917, 0.99999987, 0.75817787, 0.97107661,
        0.51992803, 0.98761947, 0.97649404]))